
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
<!-- JavaScript Bundle with Popper -->
<body>
    <h1>How to use this API?</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Method</th>
              <th scope="col">Endpoint</th>
              <th scope="col">Input</th>
              <th scope="col">Output</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">POST</th>
              <td>/sum</td>
              <td>Send a x-www-form-urlencoded body with the two operands as 'x' and 'y'</td>
              <td>A JSON object containing the result</td>
            </tr>
            <tr>
              <th scope="row">POST</th>
              <td>/substract</td>
              <td>Send a x-www-form-urlencoded body with the two operands as 'x' and 'y'</td>
              <td>A JSON object containing the result</td>
            </tr>
            <tr>
              <th scope="row">POST</th>
              <td>/multiply</td>
              <td>Send a x-www-form-urlencoded body with the two operands as 'x' and 'y'</td>
              <td>A JSON object containing the result</td>
            </tr>
            <tr>
                <th scope="row">POST</th>
                <td>/divide</td>
                <td>Send a x-www-form-urlencoded body with the two operands as 'x' and 'y'</td>
                <td>A JSON object containing the result</td>
              </tr>
          </tbody>
      </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
